@(statuses: List[TubeStatus])

<h1>Tube Status</h1>

<html>
	<head>
		<title>Tube Status</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")">        
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
	    <script src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>
		<table>
		@for(status <- statuses) {
			<tr>
				<td>@status.line</td>
				<td>@status.status</td>
			</tr>
		}
		</table>
	</body>

</html>