@(statuses: List[TubeStatus])

@main("Travel Status", "hlouw") {
		        
        <!-- Tube status table -->
		<div class="container-fluid">			
			<div class="row-fluid">
				<div class="span3">
					<div class="well sidebar-nav">
			            <ul class="nav nav-list">
			              <li class="nav-header">Sidebar</li>
			              <li class="active"><a href="#">Link</a></li>
			              <li><a href="#">Link</a></li>
			              <li><a href="#">Link</a></li>
			              <li><a href="#">Link</a></li>
			            </ul>
					</div><!--/.well -->
									
				</div>
				<div class="span6">
					<h2>Tube Status</h2>
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>Line</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
						@for(status <- statuses) {
							<tr>
								<td>@status.line</td>
								<td>@status.status</td>
							</tr>
						}
						</tbody>
					</table>
				</div>
				<div class="span3">
					<h2>Travel Updates</h2>
					<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/TfLOfficial" data-widget-id="373778672999616513">Tweets by @@TfLOfficial</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</div>
			</div>
		</div>
}

